#homePage {
    background-color: red;
    min-height: 100vh;
    padding-top: 8rem;

    .flex {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
