$font-color: #FFE3F1;
$navbar-color: black;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

.nav {
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
}

nav {
    display: block;
    padding: 2rem 7.5rem 2rem 7.5rem;

    li {
        display: list-item;
        margin-left: 3.12vw;
    }
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

ul {
    display: block;
    margin-block-start: 1em;
    scroll-margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    z-index: 999;
}

