$font-color: #FFE3F1;
$navbar-color: black;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

.nav {
    left: 0;
    right: 0;

}

nav {
    display: block;
    padding: 2rem 7.5rem 2rem 7.5rem;
    position: fixed;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    z-index: 999;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.logo-link {
    display: block;
    
}