$primary-color: #1A1A1A;
$secondary-color: #222;
$third-color: #fafbf5;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    background-color: $primary-color;
    margin: 0;
}

nav {
    display: block;
    padding: 10px 1rem;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
    }

    li a {
        display: inline-block;
        padding: 20px ;
        text-decoration: none;
        color: $third-color;
        margin: 10px;


    }

    h1, h2, h3, h4, p, a {
        font-family: 'Roboto', sans-serif;
    }
}
